<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        table.gridtable td {
            border-width: 1px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }
    </style>
    <meta charset="UTF-8">
    <!--设置过期时间设置0为直接过期并清除缓存-->
    <meta http-equiv="Expires" content="0">
    <!--设置不缓存页面-->
    <meta http-equiv="Pragma" content="no-cache">
    <!--设置不修改消息存储-->
    <meta http-equiv="Cache-Control" content="no-cache">
    <!--同上-->
    <meta http-equiv="Cache" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Excel多个表合并" />
    <meta name="description" content="本工具支持以下功能:Excel多个表合并，支持多sheet分别合并，操作如下：" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>多个表合并</title>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'excel_merge/style.css' %}">
</head>

<body class="linear">
    <h1>excel多表合并</h1>

    <h3 style="color:red">目前依赖库仅支持xlsx格式，xls格式可在本地另存为xlsx再进行操作</h3>
    <form action="{% url 'excel_merge:merge' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <b>把多个Excel文件：</b><input name="excel" type="file" multiple="multiple" /><br></br>
        <b>中，包含</b><input name="excelNameKey" type="text" value="" placeholder="默认全部"/>关键词的部分excel<br></br>
        <b>的第</b><input name="sheetNum" type="text" value="1" placeholder="1"/>个sheet</b>
        或者 名称关键词(匹配第一个命中)包含 <input name="sheetNameKey" type="text" />的sheet<br></br>
        <b>表头行数</b><input name="headLines" type="text" value="1" placeholder="1"/><b>(默认1)</b> <br></br>
        <input type="checkbox" name="rmDup" value="true"><b>
            按行去重
        </b></input>
        <input type="checkbox" name="allSheet" value="true"><b>
            按sheet位置合并全部表
        </b></input>
        <input type="checkbox" name="styles" checked><b>
            保留原表样式(不保留处理速度提升，默认保留)
        </b></input>
        <br></br>

        <input type="submit" value="合并">
    </form>
    <br></br>
    <div><a href="../">其他工具</a></div>
    <br></br>
    <p></p>
</body>

</html>